.Weather footer {
  margin-top: 5px;
}
.Weather {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #96c8fb;
  background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
  font-family: arial, sans-serif;
  padding: 16px;
  margin: 10px auto;
}

.Weather h1 {
  color: purple;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  text-align: left;
  margin: 10px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
  list-style: none;
}
.Weather canvas {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}
.Weather .temperature {
  font: bold;
  font-size: 50px;
  font-stretch: 100%;
  font-weight: 400;
  text-align: left;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: -25px;
  margin-left: 2px;
}
